
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// Variables
@import 'variables';

// Bootstrap Vuejs
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/';

$bg-color: #fff;

#app {
  background-color: $bg-color;
}

body {
  overflow-x: hidden;
}

div, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.clear_fix {
  clear: both;
}

.disabled-link {
  background-color: #8b8b8b !important;
  cursor: not-allowed;
  pointer-events: none;
}

input.has-error,
input.has-error:focus {
  border: 1px solid #f70000;  
  box-shadow: 0 1px 1px rgba(255, 0, 0, 0.479) inset, 0 0 8px rgba(255, 208, 0, 0.863);
  outline: 0 none;
}

input.has-success,
input.has-success:focus {
  border: 1px solid #005f05;
  box-shadow: none;
  outline: 0 none;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.spkfrm__navBar {
  display: flex;
  align-items: center;
  box-shadow: inset 0px -1px 0px 0px #CCCCCC;
}

.spkFormBtn {
  background-color: #0054a6;
  color: #fff !important;
  text-decoration: none !important;
  text-align: center;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.spkfrm__headerLogoImg {
  width: 20%;
  min-width: 150px;
  max-width: 250px;
  margin: 0 0 0 25px;
}

.custom_scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(116, 116, 116, 0.69);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.custom_scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #ffffff;
}

.custom_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8b8b8b;
}

.checkmark {
  display: none;
}
.checkmark-show {
  display: block !important;
}

.checkmark.draw::after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}

.checkmark::after {
  opacity: 1;
  height: 5em;
  width: 2.5em;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 3px solid #0054a6;
  border-top: 3px solid #0054a6;
  content: "";
  left: 2.5em;
  top: 5em;
  position: absolute;
}

.card {
  border-radius: 2px;
  padding: 20px 15px;
}

.cardTitle {
  font-size: 1.4em;
  font-weight: 400;
}

.surveyWizard__modalWrapper {
  background: #fff;
  padding: 20px 0;
}
.surveyWizard__modalClose {
    float: right;
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    top: -10px;
    right: 10px;
}
.surveyWizard__modalClose i {
    font-size: 2.3em;
}
.surveyWizard__modalWrapper .headline {
    font-size: 1.5em !important;
    font-weight: 600;
    text-transform: uppercase;
}
.submitProgress_container {
    margin-top: -37px;
}
.submitProgress__text {
    position: relative;
    top: 3.8em;
    font-size: 2em;
}
h4.modal__isLoading {
    font-size: 1.35em;
    font-weight: 300;
}
.modal_isLoading--text {
    float: left;
}
.surveyModal_completedLink {
    max-width: 350px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-left: 5px;
}

.gutted_container {  
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.surveyModal {
  width: 90%;
  max-width: 500px;
}

.v-dialog {
  width: auto !important;
}

@media screen and (max-width: 968px){
  .card {    
    margin: 20px 0 0;
  }

  .speakForms__headerLogo {
    text-align: left !important;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.75em;
    opacity: 1;
  }
  40% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
  100% {
    height: 3.5em;
    width: 1.75em;
    opacity: 1;
  }
}